.container {
  min-height: 80vh;
  margin: 0 auto;
  padding-inline: clamp(20px, 5vw, 120px);
  padding-block: clamp(40px, 8vh, 84px);
  max-width: clamp(320px, 90vw, var(--max-width-desktop));
}


.noResults {
  margin: 0 auto;
  color:  #8d929a;
  text-align: center;
}
