.cardBox {
  display: flex;
  flex-direction: column;
  width: 276px;
  overflow: hidden;
  display: flex;
  gap: 16px;
}

.imgWrapper {
    position: relative;
}


.imgPoster {
  width: 100%;
  border-radius: 14px;
  height: 268px;
  min-width: 276px;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 0%, rgba(18, 20, 23, 0.5) 100%);
}


.favButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    border: none;
    padding: 0;
}

.favButton .favActive {
    fill:  #3470ff;
    transition: fill 0.3s ease;
}

.description {
  display: flex;
  flex-direction: column;
  padding: 12px 14px;
  gap: 4px;
  flex-grow: 1;
}

.carBrand {
  font-weight: 600;
  font-size: 1rem;
  color: #222;
}

.titleWrapper {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 87px;
}
.carInfo {
  
}
.carModel {
  font-weight: 500;
  font-size: 0.95rem;
  color: #444;
}

.carYear {
  font-size: 0.9rem;
  color: #666;
}

.carPrice {
  font-weight: 700;
  font-size: 1rem;
  color: #007bff;
  margin-top: 6px;
}

.carDetails {
font-weight: 400;
font-size: 12px;
line-height: 1.33333;
color: #8d929a;
}


.readMoreBtn {
  border-radius: 12px;
padding: 12px 99px;
width: 276px;
height: 44px;
background: #3470ff;
outline: none;
border: none;

font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #fff;
}