.carLink {
  display: flex;
  flex-direction: column;
  width: 270px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}


.imgPoster {
  width: 100%;
  border-radius: 14px;
  height: 268px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
  background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 0%, rgba(18, 20, 23, 0.5) 100%);
}

.description {
  display: flex;
  flex-direction: column;
  padding: 12px 14px;
  gap: 4px;
  flex-grow: 1;
}

.carBrand {
  font-weight: 600;
  font-size: 1rem;
  color: #222;
}

.titleWrapper {
  display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 87px;
}

.carModel {
  font-weight: 500;
  font-size: 0.95rem;
  color: #444;
}

.carYear {
  font-size: 0.9rem;
  color: #666;
}

.carPrice {
  font-weight: 700;
  font-size: 1rem;
  color: #007bff;
  margin-top: 6px;
}

.carDetails {
font-weight: 400;
font-size: 12px;
line-height: 1.33333;
color: #8d929a;
}
