.cardBox {
  display: flex;
  flex-direction: column;
  width: 276px;
  overflow: hidden;
  display: flex;
  gap: 16px;
}

.imgWrapper {
  position: relative;
}


.imgPoster {
  width: 100%;
  border-radius: 14px;
  height: 268px;
  min-width: 276px;
  object-fit: cover;
  background: linear-gradient(180deg, rgba(18, 20, 23, 0.5) 0%, rgba(18, 20, 23, 0.5) 100%);
}


.favButton {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
    
}

.favButton svg {
  transition: transform 0.2s ease;
}

.favButton:hover svg {
  transform: scale(1.2);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
  margin-bottom: 28px;
}

.titleWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 8px;
}

.carInfo {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  margin-right: auto;
  color: #101828;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.carInfo h3, .carInfo span {
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: inherit; 
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.carInfo .carModel {
  color: #3470ff;    
}

.carPrice {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.textCover {
  display: flex;
  align-items: center;
}

.carDetails {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
}

.carDetails::after {
  content: "";
  display: inline-block; 
  margin: 0 6px;
  width: 1px;
  height: 16px;
  background: #dadde1;
  vertical-align: middle; 
}


.noDivider::after {
  content: none;
}

.readMoreBtn {
  border-radius: 12px;
  width: 276px;
  height: 44px;
  background: #3470ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
}

.readMoreBtn:hover {
  background: #0b44cd;
}