.listWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 80px;
}

.list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  gap: 48px 32px; 
  grid-template-columns: 1fr;
  justify-content: center;
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(2 * 276px + 1 * 32px);
  }
  
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(4 * 276px + 3 * 32px); 
  }
}
