.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;

  padding-inline: clamp(20px, 5vw, 120px);
  padding-block: clamp(40px, 8vh, 84px);

  max-width: clamp(320px, 90vw, var(--max-width-desktop));
  gap: clamp(40px, 6vw, 72px);
  margin: 0 auto;
  text-align: left;
  min-height: 80vh;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
  }
}

.imgFormCover {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (min-width: 768px) {
  .imgFormCover {
    align-items: flex-start;
    gap: 40px;
  }
}

.carImage {
  width: 100%;
  max-width: 640px;
  border-radius: 18px;
  object-fit: cover;
  height: auto;
}

@media (min-width: 768px) {
  .carImage {
    width: clamp(320px, 50vw, 640px);
  }
}

@media (min-width: 1440px) {
  .carImage {
    width: clamp(640px, 45vw, 720px);
  }
}

.details {
  margin-bottom: 68px;
}

.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.textWrapper:first-of-type {
  margin-bottom: 8px;
}

.textWrapper:last-of-type {
  margin-bottom: 16px;
}


.details h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-right: 16px;
  margin-bottom: 8px;
}

.carID{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.details p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;

}

.addressText {
  margin-right: 16px;
}

.price {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}