.container {
  margin: 0 auto;
  text-align: left;
  display: flex;
  justify-content: center;
  padding-top: 84px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 104px;
  max-width: var(--max-width-desktop);
}

.imgFormCover {
  margin-right: 72px;
}

.carImage {
  width: 640px;
  height: 512px;
  max-width: 100%;
  border-radius: 18px;
  object-fit: cover;
  margin-bottom: 40px;
}

.details {
  margin-bottom: 68px;

}

.textWrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.textWrapper:first-of-type {
  margin-bottom: 8px;
}

.textWrapper:last-of-type {
  margin-bottom: 16px;
}


.details h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-right: 16px;
  margin-bottom: 8px;
}

.carID{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.details p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;

}

.addressText {
  margin-right: 16px;
}

.price {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-bottom: 32px;
}