.reviewsWrapper {
  padding: 20px;
  margin-top: 30px;
}

.title {
  font-size: 24px;
  color: #ffb347;
  margin-bottom: 20px;
  text-align: center;
}

.reviewsList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 800px;
  margin: 0 auto;
}

.reviewsItem {
  background-color: rgba(255, 179, 71, 0.08);
  border: 1px solid rgba(255, 179, 71, 0.2);
  border-radius: 10px;
  padding: 15px 20px;
  box-shadow: 0 0 10px rgba(255, 179, 71, 0.2);
}

.noReviews {
  font-size: 14px;
  line-height: 1.4;
  color: #f4f4f9;
  text-align: center;
  flex-grow: 1;
  padding-right: 4px;
  margin-bottom: 12px;
}
