.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 16px 50px;
  width: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, #2e3c51, #111827);
  border-bottom: 1px solid #333;
}
.nav {
  display: flex;
  gap: 50px;
}

.navLink {
  color: #e5e7eb;
  transition: color 0.3s;
  font-size: 18px;
}

.navLink:hover {
  color: #fef08a;
}

.activeLink {
  color: #f9c833;
  font-weight: bold;
}

.movieIcon {
  width: 38px;
  height: 38px;
  fill: #ffb347;
}
