.nav {
  display: flex;
  gap: 32px;
  align-items: center;
}

.navLink {
  color: #e5e7eb;
  transition: color 0.3s;
  font-size: 19px;
}

.navLink:hover {
  color: #ffb347;
}

.activeLink {
  color: #f97316;
  font-weight: bold;
}
