.imgPoster {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.titleWrapper {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  word-wrap: break-word;
  text-decoration: none;
  transition: color 0.3s;
}

.movieLink {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.movieTitle {
  color: #e3e0dc;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movieTitle:hover {
  color: #ffb347;
}
