.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 16px 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #2e3c51, #111827);
  border-bottom: 1px solid #333;
}

.movieIcon {
  width: 38px;
  height: 38px;
  fill: #f97316;
}

.title {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90deg, #eca22b, #cc5d08);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
  flex-shrink: 0;
}
