
.container {
  position: relative;
  display: inline-block;
}

.inputField {
  border-radius: 12px;
padding: 12px 20px;
width: 576px;
height: 48px;
  cursor: pointer;
  background: #f7f7f7;
}
 

.popover {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  z-index: 100;
}


.calendar {
  box-sizing: border-box;
  width: 276px;
  padding: 12px;
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #3470ff;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  border-bottom: 1px solid #3470ff;
}



.prevBtn,
.nextBtn {
  width: 24px;
  height: 24px;
  color: #3470FF;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 6px;
  transition: background 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}


.myChevron { 
  width: 100%; 
  height: 100%; 
  fill: currentColor; 
} 


.caption {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.captionLabel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: #101828;
  white-space: nowrap;
}


/* .weekdaysRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
} */

.weekday {
  text-transform: uppercase;
  font-weight: 600;
font-size: 12px;
line-height: 1.2;
text-align: center;
color: #8d929a;
}


.dayCell {
  text-align: center;
}

.dayButton {
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: transparent;
  border: none;
  font-size: 14px;
  color: #101828;
  cursor: pointer;
}

.dayButton:hover {
  background: #DADDE1;
  border-radius: 16px;
}

.selected {
  background-color: #3470ff !important;
  color: #fff !important;
  border-radius: 16px;
}

.today {
  font-weight: bold;
  color: #101828;
}

.outside {
  color:  #8d929a;
} 