
.container {
  position: relative;
  display: inline-block;
}

.inputField {
  border-radius: 12px;
padding: 12px 20px;
width: 576px;
height: 48px;
  cursor: pointer;
  background: #f7f7f7;
}


:global(.react-datepicker) {
  border: 1px solid #3470ff;
  border-radius: 12px;
  background: #fff;
  font-family: var(--second-family, "Inter", sans-serif);
  font-size: 14px;
  padding: 8px;
  box-shadow: none;
}

/* Header*/
:global(.react-datepicker__header) {
  background: #fff;
  border: none;
  padding-top: 12px;
  margin-bottom: 12px;
}

:global(.react-datepicker__current-month) {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 4px;
}

/* Navigation buttons */
:global(.react-datepicker__navigation) {
  top: 16px;
}

:global(.react-datepicker__navigation-icon::before) {
  border-color: #3470ff;
  border-width: 2px 2px 0 0;
  width: 9px;
  height: 9px;
}

/* Weekdays row */
:global(.react-datepicker__day-name) {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #8d929a;
  width: 32px;
  line-height: 32px;
  margin: 0;
}

:global(.react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  border-bottom: 1px solid #3470ff;
}

/* Days grid */
:global(.react-datepicker__day) {
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin: 2px;
  border-radius: 50%;
  font-size: 14px;
  color: #101828;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

:global(.react-datepicker__day:hover) {
  background: #e6f0ff;
  border-radius: 50%;
}

/* Today */
:global(.react-datepicker__day--today) {
  font-weight: 600;
  border: 1px solid #3470ff;
}

/* Hover */
.calendar :global(.react-datepicker__day:not(.react-datepicker__day--disabled):hover) {
  background: #e6f0ff;
  border-radius: 50%;
}

/* Selected */
.calendar :global(.react-datepicker__day--selected),
.calendar :global(.react-datepicker__day--in-range),
.calendar :global(.react-datepicker__day--range-start),
.calendar :global(.react-datepicker__day--range-end),
.calendar :global(.react-datepicker__day--in-selecting-range),
.calendar :global(.react-datepicker__day--keyboard-selected)  {
  background: #3470ff !important;
  color: #fff !important;
  box-shadow: none;
  border-radius: 50%;
}

/* Disabled days */
.calendar :global(.react-datepicker__day--disabled) {
  color: #8d929a !important;
  cursor: not-allowed;
  background: transparent !important;
  border-radius: 50%;
}

/* Days outside current month */
:global(.react-datepicker__day--outside-month) {
  color: #8d929a !important;
}
