.container {
    max-width: var(--max-width-mobile);
    margin: 0 auto;
    min-width: 100%;
}

@media only screen and (min-width: 768px) {
.container {
    max-width: var(--max-width-tablet);
}
}


@media only screen and (min-width: 1440px) {
.container {
    max-width: var(--max-width-desktop);
}
}