.banner {
  background-image: url('../../assets/images/banner@1x.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
   .banner {
    background-image: url('../../assets/images/banner@2x.jpg');
  }
}

.text {
font-weight: 700;
font-size: 60px;
line-height: 1.2;
margin-bottom: 16px;
}

.textSmall {
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
margin-bottom: 40px;
}


.catalogBtn {
border-radius: 12px;
padding: 12px 88px;
width: 276px;
height: 44px;
background: #3470ff;

font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #fff;

}

.catalogBtn:hover {
  background: #0B44CD;
}