.banner {
  background-image: url('../../assets/images/banner@1x.jpg');
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

@media only screen and (min-width: 768px) {
   .banner {
    background-image: url('../../assets/images/banner@2x.jpg');
  }
}

.text {
  font-weight: 700;
   font-size: clamp(32px, 5vw, 60px);
  line-height: 1.3;
  margin-bottom: 12px;
  max-width: 260px;
}


@media only screen and (min-width: 768px) {
 .text {
    line-height: 1.25;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1440px) {
  .text {
    line-height: 1.2;
    margin-bottom: 16px;
    max-width: unset;
  }
}

.textSmall {
  font-weight: 600;
  font-size: clamp(16px, 3vw, 24px);
  line-height: 1.4;
  margin-bottom: 32px;
  max-width: 260px;
}

@media only screen and (min-width: 768px) {
  .textSmall {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1440px) {
  .textSmall {
    line-height: 1.33;
    margin-bottom: 40px;
  }
}


.catalogBtn {
  border-radius: 12px;
  width: 220px;
  height: 40px;
  background: #3470ff;
  font-weight: 500;
  line-height: 1.25;
  font-size: 14px;
  color: #fff;
}


@media only screen and (min-width: 768px) {
  .catalogBtn {
    width: 240px;
    height: 44px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 1440px) {
  .catalogBtn {
    width: 276px;
    height: 44px;
    font-size: 16px;
  }
}

.catalogBtn:hover {
  background: #0B44CD;
}

