.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  min-height: 70vh;
  text-align: center;
}

.title {
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #3470FF;
}

.message {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #8E929A;
}

.backLink {
  font-size: 1.2rem;
  text-decoration: none;
  color: #0B44CD;
  border: 2px solid #0B44CD;
  padding: 10px 20px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.backLink:hover {
  background-color: #3470FF;
  color: #fff;
}
